[submodule "projects/cpq-developer-framework"]
	path = projects/cpq-developer-framework
	url = https://github.com/andrew-kim-accenture/sap-cpq-developer-framework
[submodule "projects/sap-cpq-kb"]
	path = projects/sap-cpq-kb
	url = https://github.com/andrew-kim-accenture/sap-cpq-kb
